.login {
  gap: 32px;
}

.login .paper {
  width: 512px;
  height: 512px;
  margin-top: 192px;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 1px 2px 5px 1px #eee;
  gap: 32px;
}

.login .paper .title {
  font-size: 48px;
  font-weight: bold;
}

.login .paper .form {
  gap: 32px;
}

.login .paper .form .input-container {
  gap: 16px;
}

.login .paper .form .input-container .input {
  width: 256px;
  height: 36px;
}

.login .paper .form .button-container {
  gap: 16px;
}

.login .paper .form .button-container .button {
  width: 96px;
  height: 36px;
  border-radius: 16px;
}

.login .paper .form .button-container .button:active:enabled {
  font-size: 20px;
}

.login .paper .form .button-container .button .icon {
  height: 100%;
}

.login .paper .form .button-container .button .spinner {
  animation: spin infinite 1s linear;
}

.login .toast-container {
  padding: 2em;
}

.login .toast .toast-header {
  color: rgba(215, 76, 76, 0.95);
  font-weight: normal;
}

.login .toast .toast-header .icon {
  font-size: 1.3em;
}

.login .toast .toast-header .btn-close {
  width: 0.2em;
  height: 0.2em;
  margin-right: 0;
}

.login .toast .toast-body {
  font-size: 1em;
}
