.register {
}

.register .paper {
    width: 512px;
    margin-top: 128px;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 1px 2px 5px 1px #EEE;
    gap: 32px;
}

.register .paper .title {
    font-size: 48px;
    font-weight: bold;
}

.register .paper .form {
    height: 100%;
    gap: 32px;
    justify-content: space-between;
}

.register .paper .form .property-container {
    gap: 20px;
}

.register .paper .form .property-container .property {
    gap: 8px;
}

.register .paper .form .property-container .input {
    width: 100%;
    height: 36px;
}

.register .paper .form .button-container {
    gap: 16px;
}

.register .paper .form .button-container .button {
    /*width: 256px;*/
    width: 100%;
    height: 36px;
}
