.logo {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 4px 8px 4px 4px;
  border: 1px solid #fff;
  border-radius: 16px;
  box-sizing: border-box;
}

.logo:hover {
  cursor: pointer;
}

.logo .image {
  width: 64px;
}

.logo .text {
  font-size: 24px;
  font-weight: 700;
  color: white;
}
