body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    box-sizing: border-box;
}

a, a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: #000;
}

ul, li {
    list-style: none;
    padding-block: 0;
    padding-inline: 0;
    margin-block: 0;
    margin-inline: 0;
}

input {
    border: 1px solid #DDD;
    box-sizing: border-box;
    padding: 0 8px;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
